/* Domyślny kursor dla wszystkiego (frytki) */
* {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' style='font: size 12px'><text y='35'>🍟</text></svg>"), auto;
}

/* Kursor dla elementów klikalnych (np. Burger) */
a, button, [role="button"], .clickable {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' style='font-size:12px'><text y='35'>🍔</text></svg>"), pointer !important;
}
body{
  margin: 0;
  padding: 0;
  height: 10000px;
}